<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Marriage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;800&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}" />
  </head>

  <body>
    <div class="YellowBack">
      <div class="CreamBack">
        <style>
          h1 {
            text-align: center;
            margin-bottom: 0;
          }

          .heartu {
            text-align: center;
          }

          img {
            width: 50%;
          }

          p {
            text-align: center;
          }
        </style>
        <div class="TitleBoxHorizontal">
          <div class="TitleBoxVertical">
            <h1>You are in a healthy marriage.</h1>
          </div>
        </div>
        <p class="heartu">
          <img src=="static/heartu.png" />
        </p>
        <p class="InfoText">
          Looks like your marriage is on the right route. Keep up the good work
          with the open communication and setting clear boundaries.
        </p>
      </div>
    </div>
  </body>
</html>
