body {
  color: #3e3e3e;
}

h1 {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-size: 8vw;
  padding-left: 0.1em;
}

.YellowBack {
  background-color: #f6f3d8;
  padding: 3em;
}

.CreamBack {
  background-color: #fffef6;
  padding: 1ch;
  box-shadow: 0px 0px 20px #e4e0be;
}
#Name {
  font-family: "Roboto", sans-serif;
  text-align: right;
  padding-right: 3em;
}

.Prompt {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-size: 1.8em;
  text-align: center;
}
.ToCenter {
  text-align: center;
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-size: 1.7em;
}

.IntroText {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-size: 1.5vw;
}
.TitleBoxHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.IntroText {
  text-align: right;
}

#couple {
  display: block;
  width: 60%;
  height: auto;
}

.QuestionGroup {
  padding: 3em;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

.QuestionGroup select {
  background-color: #f6f3d8;
  border-radius: 10%;
  width: 35.2em;
  height: 1.5em;
  border-color: #a59e64;
}

.question {
  margin-bottom: 1em;
}

.SubmitBtn {
  background-color: #a59e64;
  border: none;
  color: white;
  padding: 0.5em 2em;
  text-align: center;
  font-size: 16px;
  border-radius: 2em;
  font-size: 1.8em;
  font-family: "Abhaya Libre", serif;
}

#SubmitForm {
  text-align: center;
}
